{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content%}
  <main>
    <div class="container py-5"> 
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              Изменить пароль
            </div>
            <div class="card-body">
              {% load user_filters %}
              <form method="post">
              {% csrf_token %}
                {% for field in form %}
                  <div class="form-group row my-3 p-3">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }} 
                        {% if field.field.required %}
                          <span class="required text-danger">*</span>
                        {% endif %}
                    </label> 
                    <input 
                      type="password" 
                      name="{{ field.name }}" 
                      autofocus 
                      class="form-control" 
                      required 
                      id="{{ field.id_for_label }}"
                    >
                      {% if field.help_text %}
                        <small 
                          id="{{ field.id_for_label }}-help" 
                          class="form-text text-muted"
                        >
                          {{ field.help_text|safe }}
                        </small>
                      {% endif %}
                  </div>
                {% endfor %}
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary">
                    Изменить пароль
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}