{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content%}
  <main>
    {% if validlink %}
      <div class="container py-5"> 
          <div class="row justify-content-center">
            <div class="col-md-8 p-5">
              <div class="card">
                <div class="card-header">
                  Введите новый пароль
                </div>
                <div class="card-body">
                  <form method="post">
                  {% csrf_token %}  
                    {% for field in form %}
                      <div class="form-group row my-3 p-3">
                        <label for="{{ field.id_for_label }}">
                          {{ field.label }} 
                            {% if field.field.required %}
                              <span class="required text-danger">*</span>
                            {% endif %}
                        </label> 
                        <input 
                          type="password" 
                          name="{{ field.name }}" 
                          autofocus 
                          class="form-control" 
                          required 
                          id="{{ field.id_for_label }}"
                        >
                          {% if field.help_text %}
                            <small 
                              id="{{ field.id_for_label }}-help" 
                              class="form-text text-muted"
                            >
                              {{ field.help_text|safe }}
                            </small>
                          {% endif %}
                      </div>
                    {% endfor %}
                    <div class="col text-center">
                      <button type="submit" class="btn btn-primary">
                        Назначить новый пароль
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">Ошибка</div>
            <div class="card-body">
              <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}