{% extends 'base.html' %}

{% block title %}
  Your responses
{% endblock %}

{% block content%}
  <main>
    <div class="container">
      <table>
        <tr>
          <th>Дата отклика</th>
          <th>Компания</th>
          <th>Позиция</th>
          <th>Версия резюме</th>
          <th>Использовавшийся шаблон</th>
          <th>Сопроводительное письмо</th>
        </tr>
        {% for response in responses %}
          <tr>
            <tr>
              <td>
                <a href="{% url 'responses:response_info' response.pk %}">
                  {{ response.resp_date|date:"d M Y" }}
                </a>
              </td>
              <td>{{ response.company }}</td>
              <td>{{ response.position }}</td>
              <td>{{ response.cv }}</td>
              <td>{{ response.template }}</td>
              <td>{{ response.letter }}</td>
            </tr>
          </tr>
        {% endfor %}
      </table>
    </div>
  </main>
{% endblock %}
